{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script
      src="https://kit.fontawesome.com/169a0e69c0.js"
      crossorigin="anonymous"
    ></script>
    <title>Smart Fridge</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__container container">
          <div class="header__icons icons-header">
            <div class="icons-header__left icons-container">
              <i
                class="fa-solid fa-wifi header-icon"
                style="color: #ffffff"
              ></i>
              <i
                class="fa-brands fa-itunes-note header-icon"
                style="color: #ffffff"
              ></i>
              <i
                class="fa-solid fa-bell header-icon"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="icons-header__right icons-container">
              <i
                class="fa-solid fa-gear header-icon"
                style="color: #ffffff"
              ></i>
              <i
                class="fa-solid fa-arrow-right-to-bracket header-icon"
                style="color: #ffffff"
              ></i>
            </div>
          </div>
        </div>
      </header>
      <main class="main">
        <section class="main__slider slider-main">
          <div class="slider-main__container container">
            <div class="slider-main__slider">
              <div class="slider-main__slide slide-slider-main-date slide">
                <div class="slide-slider-main-date__body">
                  <div class="slide-slider-main-date__time">9:48</div>
                  <div class="slide-slider-main-date__date">
                    Среда, 27.09.2023
                  </div>
                  <div class="slide-slider-main-date__weather">23°</div>
                </div>
              </div>
              <div class="slider-main__slide slide-slider-main-menu slide">
                <div class="slide-slider-main-menu__body">
                  <h2 class="slide-slider-main-menu__title">Меню на сегодня</h2>
                  <ul class="slide-slider-main-menu__list">
                    <li class="slide-slider-main-menu__item">
                      Завтрак: запеканка из творога и томатов
                    </li>
                    <li class="slide-slider-main-menu__item">
                      Ланч: Стакан кефира и мюсли
                    </li>
                    <li class="slide-slider-main-menu__item">
                      Обед: паста с говядиной и овощами
                    </li>
                    <li class="slide-slider-main-menu__item">
                      Полдник: апельсин
                      <ul class="slide-slider-main-menu__list">
                        <li class="slide-slider-main-menu__item">
                          Аня: клубника
                        </li>
                      </ul>
                    </li>
                    <li class="slide-slider-main-menu__item">
                      Ужин: рыбный салат, цельнозерновой хлеб
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="slider-main__slide slide-slider-main-fridge-control slide"
              >
                <div class="slide-slider-main-fridge-control__body">
                  <div class="slide-slider-main-fridge-control__wrapper">
                    <div class="slide-slider-main-fridge-control__freedge">
                      <div
                        class="slide-slider-main-fridge-control__freedge-value"
                      >
                        5°
                      </div>
                      <div
                        class="slide-slider-main-fridge-control__freedge-value-desc"
                      >
                        Холодильник
                      </div>
                      <div
                        class="slide-slider-main-fridge-control__freedge-value-controls"
                      >
                        <button
                          type="button"
                          class="slide-slider-main-fridge-control__freedge-value-controls-increase"
                        >
                          +
                        </button>
                        <button
                          type="button"
                          class="slide-slider-main-fridge-control__freedge-value-controls-decrease"
                        >
                          -
                        </button>
                      </div>
                    </div>
                    <div class="slide-slider-main-fridge-control__freezer">
                      <div
                        class="slide-slider-main-fridge-control__freezer-value"
                      >
                        -10°
                      </div>
                      <div
                        class="slide-slider-main-fridge-control__freezer-value-desc"
                      >
                        Морозильная камера
                      </div>
                      <div
                        class="slide-slider-main-fridge-control__freezer-value-controls"
                      >
                        <button
                          type="button"
                          class="slide-slider-main-fridge-control__freezer-value-controls-increase"
                        >
                          +
                        </button>
                        <button
                          type="button"
                          class="slide-slider-main-fridge-control__freezer-value-controls-decrease"
                        >
                          -
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-main__buttons buttons-slider-main">
              <button class="buttons-slider-main__left">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
              <button class="buttons-slider-main__right">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer__container container">
          <div class="footer__buttons">
            <button class="footer__button">Календарь</button>
            <button class="footer__button">Рецепты</button>
            <button class="footer__button">Телевизор</button>
            <button class="footer__button">Сканер</button>
            <button class="footer__button">Холодильник</button>
            <button class="footer__button">Доставка</button>
          </div>
        </div>
      </footer>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
